#about-us-page {
    margin-left: 1rem;
}

#about-us-page p {
    margin-left: 1rem;
    text-align: justify;
    text-justify:inter-word;
}

#mission-statement-image {
    display: flex;
    flex-direction: row;
}

#mission-statement-image > img {
    width: auto;
    height: 16rem;
    margin-left: 1.5rem;
    align-self: center;
    border-radius: 10px;
}