.navbar {
    background-color: #ffffff;
    overflow: hidden;
}


.navbar ul {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    display: block;
    color: rgb(80, 80, 80);
    text-decoration: none;
    padding: 14px 20px;
    border-radius: 2px;
}

.navbar li a:hover {
    text-decoration: underline;
    color:#1b1b1b
}