.navbar {
    border-radius: 16px;
    width: 100%;
    font-size:100%;
    font-variant-caps: all-small-caps;
    font-weight: lighter;
}

.navbar ul {
    display: grid;
    grid-template-columns: auto;
    list-style-type: none;
    table-layout:fixed;
    grid-auto-flow: column;
    justify-content: space-between;
}

.navbar li a {
    display:flex;
    text-decoration: none;
    color:#1b1b1b;
    padding: 3px;
}

.navbar li a:hover {
    text-decoration: underline;
    color:#1b1b1b;
}