.footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;

    background-color: white;
    position: sticky;
    bottom: -12.6rem;
}

.footer-upper-wrapper {
    display:grid;
    grid-template-columns: auto 1fr;
    column-gap: 7%;

}

.footer-logo-wrapper {
    display: flex;
    width: min-content;
    flex-direction: row;
    align-items: center;
    grid-column: 1;
}

.footer-logo-logo {
    width: 5rem;
    height: auto;
}

.footer-logo-text {
    width: 8rem;
    height: auto;
    justify-self: center;
}

.footer-lower-half {
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgb(69, 69, 69);
}

.footer-social {
    padding-left: 25%;
}

.footer-social-icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-social h3 {
    text-wrap:nowrap;
}

.footer-social img{
    width: 2.3rem;
}