.infoboard {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 85%;
    text-decoration: none;
    column-gap: 0.5rem;
    overflow-x: scroll;
    scrollbar-width: none;
}

.infosingle {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-auto-flow: row;
    align-items: center;
    width: 100%;
    height: 100%;
}


.infosingle a {
    text-decoration: none;
    color: black;
}

.infosingle-content-img-wrapper {
    display:flex;
    align-items: center;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    grid-row: 1;
}

.infosingle-content-img-wrapper img {
    object-fit:fill;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

.infosingle:hover .infosingle-content-img-wrapper img {
    transform: scale(1.02);
    transform-origin: center;
}

.infosingle-content-text-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr;
    row-gap: 0;
    width: 100%;
    overflow: hidden;
    grid-row: 2;
}

.infosingle-content-text-wrapper h3,
.infosingle-content-text-wrapper p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
    text-overflow: ellipsis;
    overflow-y: hidden;
    
}

.infosingle-content-text-date {
    font-size: small;
    grid-row: 1;
}

.infosingle-content-text-wrapper h3 {
    -webkit-line-clamp: 2;
    grid-row: 2;
}

.infosingle-content-text-wrapper p {
    -webkit-line-clamp: 4;
    font-size: 0.8rem;
    grid-row: 3;
}