.App {
  display: grid;
  flex-direction: column;
  margin: auto;
  align-self: center;
  justify-self: center;
  width: 60rem;
  height: 100%;
}

.App * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color: rgb(119, 119, 119);
}

@media (max-width:800px) {
  .App {
    margin: auto;
    max-width: 100%;
  }
}