.App {
  display: flex;
  flex-direction: column;
  margin:auto;
  grid-template-columns: 100%;
  width: 60rem;
  height: 100%;
  grid-template-rows: min-content;
  list-style-type: none;
  table-layout: fixed;
  grid-auto-flow: row;
  justify-content: center;
  padding-top: 1%;
}

.App * {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-color: rgb(119, 119, 119);
}

@media (max-width:800px) {
  .App {
    margin: auto;
    max-width: 100%;
  }
}